Freizeitkarte-Entwicklung/bounds/bounds_*.bnd
Freizeitkarte-Entwicklung/sea/sea_*.osm.pbf
Freizeitkarte-Entwicklung/sea/index.txt.gz
Freizeitkarte-Entwicklung/install/*
Freizeitkarte-Entwicklung/work/*

