Freizeitkarte-Entwicklung/bounds/bounds_*.bnd
Freizeitkarte-Entwicklung/bounds/version.txt
Freizeitkarte-Entwicklung/sea/sea_*.osm.pbf
Freizeitkarte-Entwicklung/sea/index.txt.gz
Freizeitkarte-Entwicklung/sea/version.txt
Freizeitkarte-Entwicklung/install/*
Freizeitkarte-Entwicklung/work/*
Freizeitkarte-Entwicklung/style/opentopomap/*
Freizeitkarte-Entwicklung/TYP/OpenTopoMap.txt
.DS_Store


